- auto_mode = @offer.auto_accept_grounds
= simple_form_for(@offer, :html => {:class => 'form-horizontal' }) do |f|
	= f.input :title, :input_html => { :class => "span6" }
	= f.input :cookie_time, :as => :integer
	= f.input :logo, :as => :file
	= f.input :url, :input_html => { :class => "span6" }, :placeholder => 'http://'
	= f.input :landing_url, :input_html => { :class => "span6" }, :placeholder => 'http://'
	= f.input :category, :collection => Category.all, :label_method => :title, :selected => lambda { |v| v.id == f.object.category_id }
	= f.input :auto_accept_grounds, :as => :boolean
	.auto_mode_fields{:style => auto_mode ? 'display:block' : 'display:none'}
		= f.input :excepted_categories, :collection => Category.all, :input_html => { :multiple => true, :class => "span6"}
		= f.input :excepted_ground_types, :collection => Ground.get_type_values, :input_html => { :multiple => true, :class => "span6"}
	-#
	= f.button :submit, :class => 'btn-primary'
	= link_to 'Отмена', offers_path, :class => "btn btn-danger"

:javascript
	$(document).ready(function() {
		$('#offer_auto_accept_grounds').change(function () {
			var auto_mode = $(this).attr("checked");
			var form = $(this).closest("form");
			var auto_mode_fields = form.find('.auto_mode_fields');
			auto_mode_fields.toggle(auto_mode);
			auto_mode_fields.find('input').prop('disabled', !auto_mode);
			auto_mode_fields.find('select').prop('disabled', !auto_mode);
		});
	});