- auto_mode = (@target.confirm_mode==:auto)
= simple_form_for([@offer, @target], :html => {:class => 'form-horizontal' }) do |f|
	= f.input :title, :input_html => { :class => "span6" }
	= f.input :confirm_mode, :required => true, :as => :select, :collection => Target.get_confirm_mode_values, :input_html => { :class => "span6" }
	.manual_mode_fields{:style => auto_mode ? 'display:none' : 'display:block'}
		= f.input :confirm_url, :input_html => { :class => "span6 manual_mode_input" }, :disabled => auto_mode
		= f.input :prc_price, :required => true, :as => :decimal, :input_html => { :class => "span6 manual_mode_input" }, :disabled => auto_mode
	= f.input :fixed_price, :required => true, :as => :decimal, :input_html => { :class => "span6", :value => @target.fixed_price/100 }
	= f.input :hold, :input_html => { :class => "span6" }
	= f.button :submit, :class => 'btn-primary'
	= link_to 'Отмена', offer_targets_path, :class => "btn btn-danger"

:javascript
	$(document).ready(function() {
		$('#target_confirm_mode').change(function () {
			var confirm_mode = $(this).val();
			var auto_mode = (confirm_mode=='auto')
			var form = $(this).closest("form");
			var manual_mode_fields = form.find('.manual_mode_fields');
			manual_mode_fields.toggle(!auto_mode);
			manual_mode_fields.find('input').prop('disabled', auto_mode);
		});
	});