%section
	.page-header
		%h1= 'Цели'
	.row
		= render 'my/sidebar'
		.span9
			%table.table.table-bordered.table-striped
				%thread
					%tr
						%th= 'Название'
						%th= 'Стоимость'
						%th= 'Действия'
				%tbody
					- @targets.each do |target|
						%tr
							%td= target.title
							%td
								- if target.prc_price>0
									= "#{target.prc_price} %"
								- if target.prc_price>0 && target.fixed_price>0
									= ' + '
								- if target.fixed_price>0
									= number_to_currency target.fixed_price
							%td
								= link_to my_offer_target_path(@offer, target), :class => 'btn btn-small' do
									%i.icon-signal
									= 'Статистика'
								= link_to edit_my_offer_target_path(@offer, target), :class => 'btn btn-small' do
									%i.icon-pencil
									= 'Редактировать'
								= link_to my_offer_target_path(@offer, target), :class => 'btn btn-small btn-danger', :method => :delete, :confirm => "Вы уверены?" do
									%i.icon-trash.icon-white
									= 'Удалить'
			= link_to new_my_offer_target_path(@offer), :class => 'btn btn-primary' do
				%i.icon-plus-sign.icon-white
				= 'Добавить'