%table.table.table-bordered.table-striped
	%thead
		%tr
			%th= 'Название'
			%th= 'Статус'
			%th= 'Способ подтверждения'
			%th= 'Стоимость'
			%th= 'Действия'
	%tbody
		- @targets.each do |target|
			%tr{:class => target.is_accepted? ? '' : 'muted'}
				%td= target.title
				%td= label(target.moderated_state)
				%td= t(target.confirm_mode)
				%td
					- if target.prc_price>0
						= "#{target.prc_price} %"
					- if target.prc_price>0 && target.fixed_price>0
						= ' + '
					- if target.fixed_price>0
						= number_to_currency target.fixed_price
				%td
					= link_to my_offer_target_path(@offer, target), :class => 'btn btn-small' do
						%i.icon-edit
						= 'Код'
					-#= link_to my_offer_target_path(@offer, target), :class => 'btn btn-small' do
					-#	%i.icon-signal
					-#	= 'Статистика'
					= link_to edit_my_offer_target_path(@offer, target), :class => 'btn btn-small' do
						%i.icon-pencil
						= 'Редактировать'
					= link_to my_offer_target_path(@offer, target), :class => 'btn btn-small btn-danger', :method => :delete, :confirm => "Вы уверены?" do
						%i.icon-trash.icon-white
						= 'Удалить'
= link_to new_my_offer_target_path(@offer), :class => 'btn btn-primary' do
	%i.icon-plus-sign.icon-white
	= 'Добавить'