.row
	.span9{:style => 'text-align:right'}
		%b Текущий баланс:
		= number_to_currency @current_user.balance
		%br
		%b Ожидаемый баланс:
		= number_to_currency @current_user.hold_balance
%br
%table.table.table-bordered.table-striped
	%thead
		%tr
			%th= 'Дата'
			%th= 'Тип'
			%th= 'Сумма'
			%th= 'Описание'
	%tbody
		- @payments.each do |payment|
			%tr
				%td= payment.created_at
				%td
					- if payment.amount>0
						%i.icon-plus-sign
						= 'Пополнение'
					- else
						%i.icon-minus-sign
						= 'Списание'
				%td= number_to_currency payment.amount
				%td= payment.description