%table.table.table-bordered.table-striped
	%thead
		%tr
			%th= 'Дата'
			%th= 'Тип'
			%th= 'Сумма'
			%th= 'Описание'
	%tbody
		- @payments.each do |payment|
			%tr
				%td= payment.created_at
				%td
					- if payment.amount>0
						%i.icon-plus-sign
						= 'Пополнение'
					- else
						%i.icon-minus-sign
						= 'Списание'
				%td= number_to_rubles payment.amount
				%td= payment.description