%table.table.table-bordered.table-striped
	%thead
		%tr
			%th= 'Название'
			%th= 'Сайт'
			%th= 'Статус'
			%th= 'Режим'
			%th= 'Действия'
	%tbody
		- @grounds.each do |ground|
			%tr{:class => ground.is_accepted? ? '' : 'muted'}
				%td= ground.title
				%td= ground.url
				%td= state_label(ground.moderated_state)
				%td=t "common.mode.#{ground.rotator_mode.to_s}"
				%td
					= link_to ground_path(ground), :class => 'btn btn-small' do
						%i.icon-cog
						= 'Настройки и код для вставки'
					= link_to edit_ground_path(ground), :class => 'btn btn-small' do
						%i.icon-pencil
						= 'Редактировать'
					= link_to ground_path(ground), :class => 'btn btn-small btn-danger', :method => :delete, :data => { :confirm => "Вы уверены?"} do
						%i.icon-trash.icon-white
						= 'Удалить'
= link_to new_ground_path, :class => 'btn btn-primary' do
	%i.icon-plus-sign.icon-white
	= 'Добавить'
