%table.table.table-bordered.table-striped
	%thead
		%tr
			%th= 'Название'
			%th= 'Сайт'
			%th= 'Статус'
			%th= 'Режим'
			%th= 'Действия'
	%tbody
		- @grounds.each do |ground|
			%tr{:class => ground.is_accepted? ? '' : 'muted'}
				%td= ground.title
				%td= ground.url
				%td= t(ground.moderated_state)
				%td= ground.rotator_mode
				%td
					= link_to my_ground_path(ground), :class => 'btn btn-small' do
						%i.icon-cog
						= 'Настройки'
					= link_to edit_my_ground_path(ground), :class => 'btn btn-small' do
						%i.icon-pencil
						= 'Редактировать'
					= link_to my_ground_path(ground), :class => 'btn btn-small btn-danger', :method => :delete, :confirm => "Вы уверены?" do
						%i.icon-trash.icon-white
						= 'Удалить'
= link_to new_my_ground_path, :class => 'btn btn-primary' do
	%i.icon-plus-sign.icon-white
	= 'Добавить'
