%table.table.table-bordered.table-striped
	%thead
		%tr
			%th= 'Название'
			%th= 'Статус'
			%th= 'Способ подтверждения'
			%th= 'Стоимость'
			%th= 'Повторяемая'
			%th= 'Действия'
	%tbody
		- @targets.each do |target|
			%tr{:class => target.is_accepted? ? '' : 'muted'}
				%td= target.title
				%td= state_label(target.moderated_state)
				%td=t "common.mode.#{target.confirm_mode}"
				%td= show_target_price(target.prc_price, target.fixed_price)
				%td=t target.repeatable.to_s
				%td
					= link_to user_offer_target_path(@user, @offer, target), :class => 'btn btn-small' do
						%i.icon-edit
						= 'Код'
					= link_to edit_user_offer_target_path(@user, @offer, target), :class => 'btn btn-small' do
						%i.icon-pencil
						= 'Редактировать'
					= link_to user_offer_target_path(@user, @offer, target), :class => 'btn btn-small btn-danger', :method => :delete, :data => { :confirm => "Вы уверены?"} do
						%i.icon-trash.icon-white
						= 'Удалить'
= link_to new_user_offer_target_path(@user, @offer), :class => 'btn btn-primary' do
	%i.icon-plus-sign.icon-white
	= 'Добавить'