- auto_mode = (@ground.rotator_mode==:auto)
%h3= 'Настройки подбора банеров:'
= simple_form_for([@user.becomes(User), @ground], :html => {:class => 'form-horizontal' }) do |f|
	.control-group= f.input :rotator_mode, :required => true, :as => :select, :collection => Ground.get_rotator_mode_values, :input_html => { :class => "span6" }
	= f.fields_for @ground.ground_rotator_config do |cf|
		.auto_mode_fields{:style => auto_mode ? 'display:block' : 'display:none'}
			.control-group= cf.input :categories, :collection => Category.all, :input_html => { :multiple => true, :class => "span6"}
			.control-group= cf.input :block_adult, :as => :boolean, :input_html => { :class => "span6" }
			.control-group= cf.input :block_doubtful, :as => :boolean, :input_html => { :class => "span6" }
	= f.button :submit, :class => 'btn-primary'

:javascript
	$(document).ready(function() {
		$('#ground_rotator_mode').change(function () {
			var rotator_mode = $(this).val();
			var auto_mode = (rotator_mode=='auto')
			var form = $(this).closest("form");
			var auto_mode_fields = form.find('.auto_mode_fields');
			auto_mode_fields.toggle(auto_mode);
			auto_mode_fields.find('input').prop('disabled', !auto_mode);
		});
	});

%hr
= simple_form_for(update_webmaster_path(@user, @offer), :method => :post, :html => {:class => 'form-horizontal' }) do |f|
	= f.input :new_user_id, :collection => Webmaster.all, :label_method => :email, :selected => lambda { |v| v.id == f.object.webmaster_id }
	= f.submit