%ul.nav.nav-tabs
	%li.active
		%a{"data-toggle" => "tab", :href => "#pending"}= "Ожидающие подтверждения (#{@achievements[:pending].size})"
	%li
		%a{"data-toggle" => "tab", :href => "#accepted"}= "Одобренные (#{@achievements[:accepted].size})"
	%li
		%a{"data-toggle" => "tab", :href => "#denied"}= "Отклонённые (#{@achievements[:denied].size})"
.tab-content
	- @achievements.each_key do |state|
		.tab-pane.fade{:id => state.to_s, :class => state==:pending ? 'active in' : ''}
			%table.table.table-bordered.table-striped
				%thead
					%tr
						%th= 'Оффер'
						%th= 'Цель'
						%th= 'Площадка'
						%th= 'Стоимость'
						%th= 'Состояние'
						%th= 'Дата взятия'
						- if state==:accepted
							%th= 'Дата подтверждения'
						%th= 'Действия'
				%tbody
					- @achievements[state].each do |achievement|
						- offer = achievement.offer
						- target = achievement.target
						- ground = achievement.ground
						- price = achievement.advertiser_amount
						%tr{:class => achievement.is_accepted? ? '' : 'muted'}
							%td= offer.title if offer
							%td= target.title if target
							%td= "#{ground.title} (#{ground.url})" if ground
							%td
								- if achievement.state==:accepted && price
									= number_to_currency(price)
								- else
									= 'н/д'
							%td= state_label achievement.state
							%td= achievement.created_at
							- if state==:accepted
								%td= achievement.accepted_at if achievement.accepted_at
							%td
								= link_to user_achievement_path(@user, achievement), :class => 'btn btn-small' do
									%i.icon-cog
									= 'Открыть'
%hr
= link_to report_user_achievements_path(@user), :class => 'btn' do
	%i.icon-list-alt
	= 'Отчёт'