- offer = @achievement.offer
- target = @achievement.target
- ground =  @achievement.ground
- visitor =  @achievement.visitor
- user_agent = AgentOrange::UserAgent.new(visitor.user_agent).device
- webmaster_price = @achievement.webmaster_amount
- advertiser_price = @achievement.advertiser_amount

%h3= 'Основная информация'
%b= 'Оффер:'
= offer.title if offer
%br
%b= 'Цель:'
= target.title if target
%br
%b= 'Площадка:'
= "#{ground.title} (#{ground.url})" if ground
%br
%b= 'Дата взятия:'
= @achievement.created_at
%br
- if @achievement.state==:accepted
	%b= 'Дата подтверждения:'
	= @achievement.accepted_at
	%br
%b= 'Стоимость (для вебмастера):'
- if @achievement.state==:accepted && webmaster_price
	= number_to_currency webmaster_price
- else
	= 'нет данных'
%br
%b= 'Стоимость (для рекламодателя):'
- if @achievement.state==:accepted && advertiser_price
	= number_to_currency advertiser_price
- else
	= 'нет данных'
%br
%b= 'Статус:'
= state_label @achievement.state
- unless @achievement.state==:denied
	= link_to 'Отменить', user_achievement_cancel_path(@user, @achievement), :class => "btn btn-danger btn-mini"
%br
- if @achievement.order_id && !@achievement.order_id.empty?
	%b= 'Номер заказа:'
	= @achievement.order_id
	%br
%br

%h3= 'Информация о посетителе'
%b= 'Браузер:'
- case user_agent.engine.browser.name
	- when 'Internet Explorer'
		= image_tag 'browsers/ie.png'
	- when 'Firefox'
		= image_tag 'browsers/firefox.png'
	- when 'Chrome'
		= image_tag 'browsers/chrome.png'
	- when 'Opera'
		= image_tag 'browsers/opera.png'
	- when 'Safari'
		= image_tag 'browsers/safari.png'
= user_agent.engine.browser
%br
%b= 'Операционная система:'
= user_agent.operating_system
- if @achievement.page && !@achievement.page.empty?
	%br
	%b= 'Страница взятия цели:'
	= @achievement.page
- if @achievement.ip && !@achievement.ip.empty?
	%br
	%b= 'IP-Адрес:'
	= @achievement.ip

- if visitor
	- if visitor.initial_page && !visitor.initial_page.empty?
		%br
		%b= 'Источник:'
		= visitor.initial_page
	%br
	%br

	%h3= 'Статистика'
	%table.table.table-bordered.table-striped
		%thead
			%tr
				%th= 'Страница'
				%th= 'IP-Адрес'
				%th= 'Дата и время'
		%tbody
			- visitor.page_visits.each do |visit|
				%tr
					%td= visit.page
					%td= visit.ip
					%td= visit.created_at