%table.table.table-bordered.table-striped
	%thead
		%tr
			%th.first= 'Название'
			%th= 'Добавлена'
			%th= 'Изменена'
			%th= 'Активна'
			%th.last
	%tbody
		- @articles.each do |article|
			%tr
				%td= article.title
				%td= article.created_at
				%td= article.updated_at
				%td= article.active?
				%td
					= link_to article_path(article), :class => 'btn btn-small' do
						%i.icon-cog
						= 'Открыть'
					= link_to edit_article_path(article), :class => 'btn btn-small' do
						%i.icon-pencil
						= 'Редактировать'
					= link_to article_path(article), :class => 'btn btn-small btn-danger', :method => :delete, :data => { :confirm => "Вы уверены?"} do
						%i.icon-trash.icon-white
						= 'Удалить'
= link_to new_article_path, :class => 'btn btn-primary' do
	%i.icon-plus-sign.icon-white
	= 'Добавить'