%section
	.page-header
		%h1= 'Объекты для проверки'
	.row
		.span9
			%table.table.table-bordered.table-striped
				%thread
					%tr
						%th= 'Тип'
						%th= 'Причина'
						%th= 'Дата'
						%th= 'Действия'
				%tbody
					- @moderations.each do |moderation|
						%tr
							%td= moderation.moderated_type
							%td= moderation.reason
							%td= moderation.updated_at
							%td
								= link_to admin_moderation_path(moderation), :class => 'btn btn-small' do
									%i.icon-cog
									= 'Открыть'