- if @advert.new_record?
	- url =  offer_adverts_path(@offer, :type => @type)
- else
	- url = offer_advert_path(@offer, @advert)

= simple_form_for(@advert, :url => url, :html => {:class => 'form-horizontal' }) do |f|
	-#.control-group= f.input :title, :input_html => { :class => "span6" }
	-#.control-group= f.input :prc_price, :input_html => { :class => "span6" }
	-#.control-group= f.input :fixed_price, :input_html => { :class => "span6" }
	-#= f.input :_type, :as => :hidden, :input_html => { :value => type.capitalize }
	- case @type
		- when Banner
			%b= 'Укажите ссылку на страницу, куда будет переходить посетитель при клике на банер:'
			%br
			%br
			= f.input :url, :input_html => { :class => "span6" }, :placeholder => 'http://'
			= f.input :description, :as => :text, :input_html => { :class => "span6" }
			-#%p= "Пожалуйста, загрузите изображение одного из следующих размеров: #{ADVERTS_SIZES.to_sentence}:"
			-#.control-group= f.input :url, :input_html => { :class => "span6" }
	= f.button :submit, :class => 'btn-primary'
	= link_to 'Отмена', offer_adverts_path, :class => "btn btn-danger"
