%table.table.table-bordered.table-striped
	%thead
		%tr
			%th= 'Предпросмотр'
			%th= 'Статус'
			%th= 'Тип'
			%th= 'Размеры'
			%th= 'Дополнительно'
			%th= 'Действия'
	%tbody
		- @adverts.each do |advert|
			%tr{:class => advert.is_accepted? ? '' : 'muted'}
				%td
					- unless advert.banner_images.empty?
						- img = advert.banner_images.first.image
						- if img.present?
							%ul.thumbnails
								%li.span3
									.thumbnail= image_tag img
				%td= state_label advert.moderated_state
				%td=t "model.#{advert._type}"
				%td= advert.sizes.to_sentence
				%td
					- case advert.class
						- when Banner
							= "URL: #{advert.url}"
				%td
					= link_to offer_advert_path(@offer, advert), :class => 'btn btn-small' do
						%i.icon-pencil
						= 'Редактировать'
					= link_to offer_advert_path(@offer, advert), :class => 'btn btn-small btn-danger', :method => :delete, :data => { :confirm => "Вы уверены?"} do
						%i.icon-trash.icon-white
						= 'Удалить'
= link_to new_offer_advert_path(@offer), :class => 'btn btn-primary' do
	%i.icon-plus-sign.icon-white
	= 'Добавить'