.row
	.span6
		%table.table.table-striped.table-bordered.table-condensed
			%thead
				%tr
					%th Дата
					%th Клики
					%th Цели
					%th Доход
					%th PPC
					%th CPC
			%tbody
				- @stats.each do |stat|
					%tr
						%td= stat['date'].strftime('%d/%m/%Y')
						%td= stat['click_count'].to_i
						%td= stat['target_count'].to_i
						%td= number_to_rubles stat['income_count']
						%td= stat['target_count']/stat['click_count']
						%td= number_to_rubles (stat['income_count']/stat['click_count'])
	.span3
		.well
			%b Фильтрация
			%br
			%br
			= simple_form_for :filter, :method => :get, :defaults => { :input_html => { :class => 'span2' } } do |f|
				= f.input :date_start, :input_html => { :value => @date_start, :class => 'date_picker span2' }
				= f.input :date_stop, :input_html => { :value => @date_stop, :class => 'date_picker span2' }
				-#= f.input :ground
				-#= f.input :offer
				-#= f.input :sub_id
				-#= f.input :target
				= f.submit 'Фильтровать'