.row
	.span6
		%table.table.table-striped.table-bordered.table-condensed
			%thead
				%tr
					%th Дата
					%th Клики
					%th Цели
					%th Доход
					%th PPC
					%th CPC
			%tbody
				- @dates.each do |date|
				- click_stat = @click_stat_hash[date]
				- target_stat = @target_stat_hash[date]
					%tr
						%td= date.strftime('%d/%m/%Y')
						%td
							- if click_stat
								= click_stat['click_count'].to_i
							- else
								= '0'
						%td
							- if target_stat
								= target_stat['target_count'].to_i
							- else
								= '0'
						%td= number_to_currency(target_stat['income_count']*100) if target_stat
						%td= target_stat['target_count']/click_stat['click_count'] if click_stat && target_stat
						%td= number_to_currency(target_stat['income_count'].to_f*100/click_stat['click_count']) if click_stat && target_stat
	.span3
		.well
			%b Фильтрация
			%br
			%br
			= simple_form_for :filter, :method => :get, :defaults => { :input_html => { :class => 'span2' } } do |f|
				= f.input :date_start, :input_html => { :value => @date_start, :class => 'date_picker span2' }
				= f.input :date_stop, :input_html => { :value => @date_stop, :class => 'date_picker span2' }
				-#= f.input :ground
				-#= f.input :offer
				-#= f.input :sub_id
				-#= f.input :target
				= f.submit 'Фильтровать', :class => 'btn'