.row
	.span6
		%table.table.table-striped.table-bordered.table-condensed
			%thead
				%tr
					%th Дата
					%th Клики
					%th Цели
					%th
						- case current_user.class
							- when Webmaster
								= 'Доход'
							- when Advertiser
								= 'Расход'
					%th PPC
					%th CPC
			%tbody
				- if @stats
					- @stats.each do |stat|
						- income = case current_user.class
							- when Webmaster
								- stat['income_sum'].to_f
							- when Advertiser
								- stat['expenditure_sum'].to_f
						- clicks = stat['clicks_sum'].to_i
						- targets = stat['targets_sum'].to_i
						%tr
							%td= stat['_id'].strftime('%d/%m/%Y')
							%td= clicks
							%td= targets
							%td= number_to_currency(income/100)
							%td= "%.5f" % (targets.to_f/clicks)
							%td= number_to_currency(income/100/clicks)
	.span3
		.well
			%b Фильтрация
			%br
			%br
			= simple_form_for :filter, :method => :get, :defaults => { :input_html => { :class => 'spanm' } } do |f|
				= f.input :date_start, :input_html => { :value => @date_start, :class => 'date_picker spanm' }
				= f.input :date_stop, :input_html => { :value => @date_stop, :class => 'date_picker spanm' }
				- case current_user.class
					- when Webmaster
						= f.input :ground, :collection => current_user.grounds, :include_blank => true, :selected => @ground_id
						= f.input :offer, :collection => current_user.usable_offers, :include_blank => true, :selected => @offer_id
						= f.input :sub_id, :collection => current_user.sub_ids, :include_blank => true, :selected => @sub_id
					- when Advertiser
						= f.input :offer, :collection => current_user.usable_offers, :include_blank => true, :selected => @offer_id
						-#= f.input :target

				= f.submit 'Фильтровать', :class => 'btn'