.row
	.span6
		%table.table.table-striped.table-bordered.table-condensed
			%thead
				%tr
					%th Дата
					%th Клики
					%th Цели
					%th
						- case current_user.class
							- when Webmaster
								= 'Доход'
							- when Advertiser
								= 'Расход'
					%th PPC
					%th CPC
			%tbody
				- @stats.each do |stat|
					- income = case current_user.class
						- when Webmaster
							- stat['income_count'].to_i
						- when Advertiser
							- stat['expenditure_count'].to_i
					- clicks = stat['clicks_count'].to_i
					- targets = stat['targets_count'].to_i
					%tr
						%td= stat['date'].strftime('%d/%m/%Y')
						%td= clicks
						%td= targets
						%td= number_to_currency(income/100)
						%td= "%.5f" % (targets.to_f/clicks)
						%td= number_to_currency(income.to_f/100/clicks)
	.span3
		.well
			%b Фильтрация
			%br
			%br
			= simple_form_for :filter, :method => :get, :defaults => { :input_html => { :class => 'span2' } } do |f|
				= f.input :date_start, :input_html => { :value => @date_start, :class => 'date_picker span2' }
				= f.input :date_stop, :input_html => { :value => @date_stop, :class => 'date_picker span2' }
				- case current_user.class
					- when Webmaster
						= f.input :ground, :collection => current_user.grounds, :include_blank => true, :selected => @ground_id
						= f.input :offer, :collection => @user_offers, :include_blank => true, :selected => @offer_id unless @user_offers.empty?
						= f.input :sub_id, :collection => current_user.sub_ids, :include_blank => true, :selected => @sub_id
					- when Advertiser
						= f.input :offer, :collection => @user_offers, :include_blank => true, :selected => @offer_id unless @user_offers.empty?
						-#= f.input :target

				= f.submit 'Фильтровать', :class => 'btn'