%h2.title= @discussion.subject
.messages= render :partial => 'my/discussions/message', :collection => @discussion.messages
- if @discussion.state==:open
	= form_tag discussion_message_path(@discussion) do
		= text_area_tag :text, '', :class => "span6 text"
		= button_tag :class => 'btn btn-primary' do
			%i.icon-pencil.icon-white
			= 'Добавить'
	= link_to discussion_close_path(@discussion), :method => :put , :class => 'btn btn-danger' do
		%i.icon-remove-sign.icon-white
		= 'Закрыть обсуждение'
- else
	%b= 'Закрыто'

:javascript
	$(document).ready(function() {
		var reload_posts;
		reload_messages = function() {
			$.ajax(gon.url, {
				type: 'GET',
				data: {
					last: gon.discussion_last
				},
				dataType: 'script'
			});
			return window.setTimeout(reload_messages, 5000);
		};
		return window.setTimeout(reload_messages, 3000);
	});
