#menu= image_tag "psd/Layer_5.jpg"
#header_2
	%img#polos{:alt => "", :height => "1", :src => asset_path("psd/polos.jpg"), :width => "1280"}
		#headp
			%img.float_left{:src => asset_path("psd/polos_copy.png")}
				#rowHolder_4
					#name
						#logo
							%b Good
							Monday
							= image_tag "psd/goodmonday_copy.png"
					#tel_copy
						= image_tag "psd/Layer_2_copy_4.png"
						= image_tag "psd/495_123_45_67.png"
		#registraciya_2
			- if user_signed_in?
				%li= link_to "Кабинет", root_url(:subdomain => (current_user.class==Operator)? :admin : :my)
				%li= link_to "Выход", destroy_user_session_path, :method => :delete
			- else
				.auth_block
					= simple_form_for(:user, :url => user_session_path) do |f|
						.inputs
							= f.input :email, :required => false, :autofocus => true, :placeholder => 'Электронная почта', :label => false
							= f.input :password, :required => false, :placeholder => 'Пароль', :label => false
							-#= f.input :remember_me, :as => :boolean, :input_html => { :value => '1' }
						.actions
							= link_to 'Регистрация', new_user_registration_path, :class => "btn"
							= f.button :submit, "Войти", :class => "btn-primary"

#menu_2
	%p#Glavnaya
		%b{:style => "color: #fcd002;"}> Главная
		\  
		%b                             о компании                                контакты                                новости                                список офферов
