#left_column
	.cell2
		%h3 Как работает система
		.banner_block
			= link_to image_tag('home/steps.png'), new_user_registration_path
	.row
		.cell.advertiser_block.formated
			.plate.blue
				%h3 Рекламодателям
			%p
				= image_tag 'home/ico1.png'
				%b GoodMonday
				= '- это партнерская программа с оплатой за конкретное действие пользователя.'
			%p= 'Вы можете выбрать из множества рекламных предложений наиболее выгодное для вашего вида трафика.'
			%p
				= 'Рекламодатель при данном виде сотрудничества производит оплату веб-мастеру (владельцу рекламной площадки) только за полезные действия пользователей на сайте. В их числе:'
				%ul
					%li заказ товара/услуги
					%li заполнение анкеты
					%li регистрация
					%li подписка на каталог
					%li новости, рассылку
					%li запись на тест-драйв консультацию
					%li или любое другое действие, которое в итоге приводит к продажам
			%br
			= link_to 'Регистрация рекламодателя', new_user_registration_path(:type => :advertiser), :class => "btn2"

		.cell.webmaster_block.formated
			.plate.orange
				%h3 Вебмастерам
			%p
				= image_tag 'home/ico2.png'
				%b GoodMonday
				= 'это больше прибыли, чем от использования баннерной, контекстной или любой другой интернет-рекламы.'
			%p
				= 'Сотрудничая только с лучшими web-мастерами и качественными рекламодателями, наша система позволит Вам в полной мере использовать все преимущества работы с партнёрской сетью.'
			%p
				= 'Особенностью данной партнерской программы является организация сотрудничества между владельцами рекламных площадок и множеством рекламодателей в рамках одного проекта.'
				%ul
					%li эффективные затраты
					%li удобная система настройки
					%li оплата за действие
			%br
			= link_to 'Регистрация вебмастера', new_user_registration_path(:type => :webmaster), :class => "btn2"
#right_column
	-#%div
	-#	%h3 Наши клиенты
	-#	.slider_block
	-#		= image_tag 'tmp/slider.png'
	.block
		%h4 Новости
		.inner
			- @news.each do |news|
				.elem
					%p
						%h6= link_to "#{news.created_at.strftime("%d.%m.%Y")}:", news_path(news)
						= news.content.html_safe
						%br
						= link_to 'подробнее...', news_path(news)
			-#.elem
			-#	= image_tag 'tmp/news1.png'
			-#	%p
			-#		%h6= link_to '05.05.2012:', '#'
			-#		Еженедельное точное сопоставление графика выполнения работ и выполненных работ по факту! В случае отклонения от графика необходимо быстро... выявить причину и в кратчайшие сроки устранить ее! И конечно еженедельный фотоотчет  и ежемесячное подписание с клиентом и с подрядной организацией актов КС2 и КС3, которые тщательно проверяет сметчик, инженер и эксперт компании SWISS.CON
			-#		%br
			-#		= link_to 'подробнее...', '#'
	-#.top_block
	-#	%h4 Топ вебмастеров
	-#	.inner
	-#		.elem
	-#			= image_tag 'tmp/top1.png'
	-#			%p
	-#				%h6= link_to 'Компания ArtGold', '#'
	-#				Системы управления контентом
	-#		.elem
	-#			= image_tag 'tmp/top2.png'
	-#			%p
	-#				%h6= link_to 'Компания ArtGold', '#'
	-#				Системы управления контентом
	.top_block
		%h4 Топ офферов
		.inner
			- @offers.each do |offer|
				.elem
					- if offer.logo.present? 
						= link_to image_tag(offer.logo), offer_path(offer)
					.content
						.title= link_to offer.title, offers_path(offer)
						= offer.category.title
						%br
						EPC:
						= number_to_rubles offer.epc
						%br
						Выплаты:
						= number_to_rubles offer.payments
#partners_block
	-#%h5 Наши партнеры
	-#%hr
	-#.slider_block
	-#	= image_tag 'tmp/partners.png'