%ul.nav.nav-tabs
	%li.active
		%a{"data-toggle" => "tab", :href => "#open"}= "Открытые (#{@discussions_open.size})"
	%li
		%a{"data-toggle" => "tab", :href => "#closed"}= "Закрытые (#{@discussions_closed.size})"
.tab-content
	#open.tab-pane.fade.active.in
		%table.table.table-bordered.table-striped
			%thead
				%tr
					%th= '№'
					%th= 'Тема'
					%th= 'Статус'
					%th= 'Ответы'
					%th= 'Действия'
			%tbody
				- @discussions_open.each do |discussion|
					%tr
						%td= discussion.num
						%td= discussion.subject
						%td= state_label(discussion.state)
						%td= discussion.messages.size
						%td
							= link_to discussion_path(discussion), :class => 'btn btn-small' do
								%i.icon-cog
								= 'Открыть'
	#closed.tab-pane.fade
		%table.table.table-bordered.table-striped
			%thead
				%tr
					%th= '№'
					%th= 'Тема'
					%th= 'Статус'
					%th= 'Ответы'
					%th= 'Действия'
			%tbody
				- @discussions_closed.each do |discussion|
					%tr
						%td= discussion.num
						%td= discussion.subject
						%td= state_label(discussion.state)
						%td= discussion.messages.size
						%td
							= link_to discussion_path(discussion), :class => 'btn btn-small' do
								%i.icon-cog
								= 'Открыть'
- unless @is_operator
	= link_to new_discussion_path, :class => 'btn btn-primary' do
		%i.icon-plus-sign.icon-white
		= 'Задать вопрос'