= content_for :head_etc do
	= include_imperavi_stylesheet
	= include_imperavi_javascript

- auto_mode = @offer.auto_accept_grounds
= simple_form_for([@user.becomes(User), @offer], :html => {:class => 'form-horizontal' }) do |f|
	= f.input :title
	=	f.input :description, :as => :text, :input_html => { :class => 'span7' }
	= f.input :cookie_time, :as => :integer
	= f.input :logo, :as => :file
	= f.input :url, :placeholder => 'http://'
	= f.input :landing_url, :placeholder => 'http://'
	= f.input :category, :collection => Category.all, :label_method => :title, :selected => lambda { |v| v.id == f.object.category_id }
	= f.input :auto_accept_grounds, :as => :boolean
	.auto_mode_fields{:style => auto_mode ? 'display:block' : 'display:none'}
		= f.input :excepted_categories, :collection => Category.all, :input_html => { :multiple => true, :class => "span6"}
		= f.input :excepted_ground_types, :collection => Ground.get_type_values, :input_html => { :multiple => true, :class => "span6"}

	= f.input :hash_key, :input_html => { :class => "span6" }
	= f.input :active, :as => :boolean
	%hr

	= f.input :is_adult, :as => :boolean
	= f.input :is_doubtful, :as => :boolean
	= f.input :redirect_options
	= f.input :accept_custom_urls, :as => :boolean
	= f.input :achievement_task_marker

	= f.button :submit, :class => 'btn-primary'
	= link_to 'Отмена', offers_path, :class => "btn btn-danger"

:javascript
	$(document).ready(function() {
		$('#offer_auto_accept_grounds').change(function () {
			var auto_mode = $(this).attr("checked");
			var form = $(this).closest("form");
			var auto_mode_fields = form.find('.auto_mode_fields');
			auto_mode_fields.toggle(auto_mode);
			auto_mode_fields.find('input').prop('disabled', !auto_mode);
			auto_mode_fields.find('select').prop('disabled', !auto_mode);
		});
	});

= include_imperavi_stylesheet
= include_imperavi_javascript
= imperavi :offer_description