%table.table.table-bordered.table-striped
	%thead
		%tr
			%th= 'Название'
			%th= 'Статус'
			%th= 'Показы/Выплаты'
			%th= 'Действия'
	%tbody
		- @offers.each do |offer|
			%tr{:class => offer.is_accepted? ? '' : 'muted'}
				%td= offer.title
				%td= state_label(offer.moderated_state)
				%td
					= offer.shows
					= ' / '
					= number_to_currency offer.payments
				%td
					= link_to user_offer_path(@user, offer), :class => 'btn btn-small' do
						%i.icon-edit
						= 'Код'
					= link_to user_offer_targets_path(@user, offer), :class => 'btn btn-small' do
						%i.icon-screenshot
						= 'Цели'
					= link_to user_offer_adverts_path(@user, offer), :class => 'btn btn-small' do
						%i.icon-picture
						= 'Банеры'
					= link_to user_offer_grounds_path(@user, offer), :class => 'btn btn-small' do
						%i.icon-road
						= 'Площадки'
					= link_to edit_user_offer_path(@user, offer), :class => 'btn btn-small' do
						%i.icon-cog
						= 'Настройки'
					= link_to user_offer_path(@user, offer), :class => 'btn btn-small btn-danger', :method => :delete, :confirm => "Вы уверены?" do
						%i.icon-trash.icon-white
						= 'Удалить'
= link_to new_user_offer_path(@user), :class => 'btn btn-primary' do
	%i.icon-plus-sign.icon-white
	= 'Добавить'