= image_tag @offer.logo if @offer.logo.present?
%p= 'Пожалуйста, установите данный код на все страницы сайта. Это не обязательно, но позволит давать более чистый трафик, а также отображать больше информации о посетителях.'
%pre.prettyprint
	= "<script language='javascript'>"
	= tag(:br)
	:escaped
		document.write("<"+"script language='javascript' src='http://r.goodmonday.ru/#{@offer.id}/visit.js?n="+Math.random()+"'></"+"script>")
	= tag(:br)
	= "</script>"
%hr
= link_to user_offer_targets_path(@user, @offer), :class => 'btn btn-small' do
	%i.icon-screenshot
	= 'Цели'
= link_to user_offer_adverts_path(@user, @offer), :class => 'btn btn-small' do
	%i.icon-picture
	= 'Банеры'
= link_to user_offer_grounds_path(@user, @offer), :class => 'btn btn-small' do
	%i.icon-road
	= 'Площадки'
= link_to edit_user_offer_path(@user, @offer), :class => 'btn btn-small' do
	%i.icon-cog
	= 'Настройки'
%hr
= simple_form_for(update_advertiser_path(@user, @offer), :method => :post, :html => {:class => 'form-horizontal' }) do |f|
	= f.input :new_user_id, :collection => Advertiser.all, :label_method => :email, :selected => lambda { |v| v.id == f.object.advertiser_id }
	= f.submit