%table.table.table-bordered.table-striped
	%thead
		%tr
			%th= 'Логотип'
			%th= 'Название'
			%th= 'Категория'
			%th= 'Цели'
			%th= 'Выплачено'
			%th= 'EPC'
			%th= 'eEPC'
			%th= 'PostClick'
			%th
	%tbody
		- @offers.each do |offer|
			%tr{:class => offer.is_accepted? ? '' : 'muted'}
				%td
					- if offer.logo.present?
						%ul.thumbnails
							%li
								.thumbnail= link_to image_tag(offer.logo), offer_path(offer) 
				%td
					= offer.title
					- if !offer.url.empty? && offer.url.start_with?('http')
						%br
						= link_to offer.url, offer.url
				%td= offer.category.title
				%td
					%table.table.table-bordered.table-condensed
						%thead
							%tr
								%th= 'Цель'
								%th= 'Стоимость'
								%th= 'Холд'
						- offer.targets.accepted.each do |target|
							%tr
								%td= target.title
								%td= show_target_price(target.prc_prices_bronze, target.fixed_prices_bronze)
								%td= "#{target.hold} дней"
				-#%td= number_to_currency offer.payments
				-#%td= number_to_currency offer.epc
				-#%td= number_to_currency (offer.epc*1000)
				%td= '-'
				%td= '-'
				%td= '-'
				%td= "#{offer.cookie_time} дней"
				%td
					= link_to offer_path(offer), :class => 'btn btn-small' do
						-#%i.icon-screenshot
						= 'Открыть'
