.row
	.span3
		= image_tag @offer.logo if @offer.logo.present?
	.span9
		%h2= @offer.title
		= link_to @offer.url, @offer.url
- unless @offer.description.empty?
	%p= @offer.description.html_safe
%br
%hr
%b Категория:
= @offer.category.title
%br
%b Выплачено:
= number_to_rubles @offer.payments
%br
%b EPC:
= number_to_rubles @offer.epc
%br
%b eEPC:
= number_to_rubles (@offer.epc*1000)
%br
%b Категория:
= "#{@offer.cookie_time} дней"
%br
%hr
- if @offer.auto_accept_grounds
	Отбирает площадки автоматически
	- unless @offer.excepted_categories_ids.empty?
		%br
		Не принимает площадки	следующих категорий:
		- categories = Category.find(@offer.excepted_categories_ids)
		= categories.collect{|c| c.title}.to_sentence
	- unless @offer.excepted_ground_types.empty?
		%br
		Не принимает площадки	следующих типов:
		= @offer.excepted_ground_types.reject! {|t| t.empty?}.collect{|t| t("mongoid.symbolizes.ground.type.#{t.to_str}")}.to_sentence
- else
	Отбирает площадки вручную.
%br
%hr
%h5 Цели:
%br
%table.table.table-bordered.table-striped
	%thead
		%tr
			%th= 'Цель'
			%th= 'Стоимость'
			%th= 'Холд'
	%tbody
		- @offer.targets.each do |target|
			%tr
				%td= target.title
				%td= show_target_price(target.prc_prices_bronze, target.fixed_prices_bronze)
				%td= "#{target.hold} дней"