.row
	.span3
		= image_tag @offer.logo if @offer.logo.present?
	.span9
		%h2= @offer.title
		= link_to @offer.url, @offer.url
%br
%table.table.table-bordered.table-striped
	%thead
		%tr
			%th= 'Цель'
			%th= 'Стоимость'
			%th= 'Холд'
	%tbody
		- @offer.targets.each do |target|
			%tr
				%td= target.title
				%td= show_target_price(target.prc_prices_bronze, target.fixed_prices_bronze)
				%td= "#{target.hold} дней"