%h2
	- case @state
		- when :accepted
			= 'Одобренные офферы'
		- when :denied
			= 'Отвергнутые офферы'
		- when :pending
			= 'Ожидающие одобрения офферы'
.subnav
	%ul.nav.nav-pills
		%li= link_to 'Home', my_ground_path(@ground)
		%li.dropdown.active
			= link_to '#', :class => 'dropdown-toggle' do
				= 'Links'
				%b.caret
			%ul.dropdown-menu
				%li= link_to 'Accepted', my_ground_links_path(@ground, :state => :accepted)
				%li= link_to 'Denied', my_ground_links_path(@ground, :state => :denied)
				%li= link_to 'Pending', my_ground_links_path(@ground, :state => :pending)
				- if @ground.is_accepted?
					%li.divider
					%li= link_to 'Добавить', new_my_ground_link_path(@ground)
		%li.dropdown
			= link_to '#', :class => 'dropdown-toggle' do
				= 'Rotator'
				%b.caret
			%ul.dropdown-menu
				%li= link_to 'Accepted', my_ground_adverts_path(@ground, :state => :accepted)
				%li= link_to 'Denied', my_ground_adverts_path(@ground, :state => :denied)
				%li= link_to 'Pending', my_ground_adverts_path(@ground, :state => :pending)
				- if @ground.is_accepted?
					%li.divider
					%li= link_to 'Добавить', new_my_ground_advert_path(@ground)
%table.table.table-bordered.table-striped
	%thead
		%tr
			%th= 'Название'
			%th= 'Показы/Выплаты'
			- if @state==:accepted
				%th= 'Код'
			%th= 'Действия'
	%tbody
		- @offers.each do |offer|
			%tr
				%td= offer.title
				-#%td= offer.mode
				%td
					= offer.shows
					= ' / '
					= number_to_currency offer.payments
				- if @state==:accepted
					%td
						%pre.prettyprint.linenums{:style => 'max-width:300px'}= "<a href='http://188.255.106.235:3000/robot/#{@ground.id}/goto/#{offer.id}'>Текст ссылки</a>"
				%td
					= link_to my_ground_link_path(@ground,offer), :class => 'btn btn-small btn-danger', :method => :delete, :confirm => "Вы уверены?" do
						%i.icon-trash.icon-white
						= 'Удалить'
- if @ground.is_accepted?
	= link_to new_my_ground_link_path(@ground), :class => 'btn btn-primary' do
		%i.icon-plus-sign.icon-white
		= 'Добавить'