%h2
	- case @state
		- when :accepted
			= 'Одобренные офферы'
		- when :denied
			= 'Отвергнутые офферы'
		- when :pending
			= 'Ожидающие одобрения офферы'
.subnav
	%ul.nav.nav-pills
		%li= link_to 'Home', ground_path(@ground)
		%li.dropdown.active
			= link_to '#', :class => 'dropdown-toggle' do
				= 'Links'
				%b.caret
			%ul.dropdown-menu
				%li= link_to 'Accepted', ground_links_path(@ground, :state => :accepted)
				%li= link_to 'Denied', ground_links_path(@ground, :state => :denied)
				%li= link_to 'Pending', ground_links_path(@ground, :state => :pending)
				- if @ground.is_accepted?
					%li.divider
					%li= link_to 'Добавить', new_ground_link_path(@ground)
		%li.dropdown
			= link_to '#', :class => 'dropdown-toggle' do
				= 'Rotator'
				%b.caret
			%ul.dropdown-menu
				%li= link_to 'Accepted', ground_adverts_path(@ground, :state => :accepted)
				%li= link_to 'Denied', ground_adverts_path(@ground, :state => :denied)
				%li= link_to 'Pending', ground_adverts_path(@ground, :state => :pending)
				- if @ground.is_accepted?
					%li.divider
					%li= link_to 'Добавить', new_ground_advert_path(@ground)
%table.table.table-bordered.table-striped
	%thead
		%tr
			%th= 'Название'
			%th= 'Клики/Выплаты'
			%th= 'Действия'
	%tbody
		- @offers.each do |offer|
			%tr
				%td= offer.title
				-#%td= offer.mode
				%td
					= offer.clicks
					= ' / '
					= number_to_currency offer.payments
				%td
					- if @state==:accepted
						= link_to ground_link_path(@ground,offer), :class => 'btn btn-small' do
							%i.icon-align-justify
							= 'Показать код'
					= link_to ground_link_path(@ground,offer), :class => 'btn btn-small btn-danger', :method => :delete, :confirm => "Вы уверены?" do
						%i.icon-trash.icon-white
						= 'Удалить'
- if @ground.is_accepted?
	= link_to new_ground_link_path(@ground), :class => 'btn btn-primary' do
		%i.icon-plus-sign.icon-white
		= 'Добавить'