%h5 Код для вставки
%br

%b= 'Ваша ссылка:'
%br
%br
%pre.prettyprint
	= "http://r.goodmonday.ru/#{@ground.id}/goto/#{@offer.id}"

%b= 'Полный код для вставки:'
%br
%br
%pre.prettyprint
	= "<a href='http://r.goodmonday.ru/#{@ground.id}/goto/#{@offer.id}'>"
	-#%span.tag Текст ссылки
	= content_tag(:span, 'Текст ссылки', :class => "atn")
	= "</a>"

%b= 'Если вы желаете использовать cуб-аккаунт, просто передайте его в параметре ссылки sub_id:'
%br
%br
%pre.prettyprint
	= "<a href='http://r.goodmonday.ru/#{@ground.id}/goto/#{@offer.id}?sub_id="
	= content_tag(:span, 'ваш_sub_id', :class => "str")
	= "'>"
	= content_tag(:span, 'Текст ссылки', :class => "atn")
	= "</a>"

- if @offer.accept_custom_urls
	%b= 'Если вы желаете, чтобы при нажитии на ссылку посетитель переходил на другой (отличающийся от указанного рекламодателем) адрес, укажите его в параметре ссылки url:'
	%br
	%br
	Внимание: не забудьте указать префиксы
	%code= 'http://'
	или
	%code= 'https://'
	в начале ссылок.
	%br
	%br
	%pre.prettyprint
		= "<a href='http://r.goodmonday.ru/#{@ground.id}/goto/#{@offer.id}?url="
		= content_tag(:span, 'желаемый_url', :class => "str")
		= "'>"
		= content_tag(:span, 'Текст ссылки', :class => "atn")
		= "</a>"

	%b= 'Пример кода с использованием параметров sub_id и url:'
	%br
	%br
	%pre.prettyprint
		= "<a href='http://r.goodmonday.ru/#{@ground.id}/goto/#{@offer.id}?"
		= content_tag(:span, 'sub_id', :class => "lit")
		= '='
		= content_tag(:span, 'group7', :class => "str")
		= '&'
		= content_tag(:span, 'url', :class => "lit")
		= '='
		= content_tag(:span, 'http://goodmonday.ru/offers', :class => "str")
		= "'>"
		= content_tag(:span, 'Офферы GoodMonday.ru', :class => "atn")
		= "</a>"

%h5 Промо-материалы
При использовании кода для промо-материалов также можно использовать параметры
%code= 'sub_id'
и
%code= 'url'
= '.'
%br
%br

%table.table.table-bordered
	%thead
		%tr
			%th= 'Изображение'
			%th= 'Код'
	- @offer.adverts.each do |advert|
		- if advert.is_a? Banner
			- advert.sizes.each do |size|
				- banner_image = advert.banner_images.where(:size => size.to_sym).first
				- if banner_image
					- img = banner_image.image.to_s
					%tr
						%td
							%ul.thumbnails
								%li
									.thumbnail
										= link_to image_tag(img), img
										.caption= "(#{size})"
						%td
							%pre.prettyprint= advert.html_code(size, @ground)