%table.table.table-bordered.table-striped
	%thead
		%tr
			%th= 'Название'
			%th= 'Тематика'
			%th= 'Клики/Выплаты'
			%th= 'Действия'
	%tbody
		- @offers.each do |offer|
			%tr
				%td= offer.title
				%td= offer.category.title
				%td
					= offer.clicks
					= ' / '
					= number_to_currency offer.payments
				%td
					= link_to ground_adverts_path(@ground, :offer_id => offer.id), :method => :post, :class => 'btn btn-primary' do
						%i.icon-plus-sign.icon-white
						= 'Добавить'