.row
	.span6
		- if @current_user.blocked
			.label.label-important
				Аккаунт временно заблокирован для проверки
			%br
		%h5 Сводная информация
		%br
		%table.table.table-striped.table-bordered
			%thead
				%tr
					%th
					%th Сегодня
					%th Вчера
					%th Неделя
					%th Месяц
					%th Всего
			- periods = [:today, :yesterday, :week, :month, :total]
			%tbody
				%tr
					- subject = :click
					%th Клики
					- periods.each do |period|
						%td= @common_stat[subject][period].to_i
				%tr
					- subject = :target
					%th Цели
					- periods.each do |period|
						%td= @common_stat[subject][period].to_i
				%tr
					%th
						- case current_user.class
							- when Webmaster
								- subject = :income
								= 'Доход'
							- when Advertiser
								- subject = :expenditure
								= 'Расход'
					- periods.each do |period|
						%td= number_to_currency(@common_stat[subject][period]/100)

		- if @current_user.is_a? Webmaster
			%h5 Ваша реферальная ссылка
			= "http://goodmonday.ru/ref/#{@current_user.id}"
	.span3
		.well
			%b= @current_user.email
			%br
			%br
			%span.label=t "model.#{@current_user.class.to_s}"
			-#- if @current_user.is_a? Webmaster
			-#	%br
			-#	%b Статус:
			-#	=t "mongoid.symbolizes.user.rank.#{@current_user.rank}"
			%hr
			%h6 Баланс
			%br
			%b Доступно:
			= number_to_currency @current_user.balance
			%br
			- if @current_user.class==Webmaster && @current_user.balance>100
				- if @current_user.payment_requests.where(state: :unpaid).count>0
					%span.label.label-info
						ожидаются к выводу
					%br
				- else
					= link_to 'Вывести', new_payment_request_path, :class => 'btn btn-mini btn-primary'
				%br
			%b Ожидается:
			= number_to_currency @current_user.hold_balance
			%br
			- if @current_user.class==Advertiser && @current_user.overdraft>0
				%b Допустимый кредит:
				= number_to_currency @current_user.overdraft
				%br
			%b Всего заработано:
			= number_to_currency @current_user.total_payments
			%br
			- if @current_user.is_a? Webmaster
				%hr
				%h6 Статистика рефералов
				%br
				%b Начислено:
				= number_to_currency @current_user.referral_total_payments
				%br
				%b Количество рефералов:
				= @current_user.referral_count