%p Список площадок, желающих рекламировать ваш оффер

%table.table.table-bordered.table-striped
	%thead
		%tr
			%th= 'Название'
			%th= 'Тип'
			%th= 'Тематика'
			%th= 'Статус'
			%th= 'Действия'
	%tbody
		- @ground_offers.each do |ground_offer|     
			- ground = ground_offer.ground
			%tr
				%td= ground.title
				%td= t(ground.type)
				%td= ground.category.title
				%td= state_label(ground_offer.state)
				%td
					- unless ground_offer.state==:accepted
						= link_to offer_ground_accept_path(@offer, ground_offer), :class => 'btn btn-success btn-small' do
							%i.icon-ok.icon-white
							= 'Одобрить'
					- unless ground_offer.state==:denied
						= link_to offer_ground_deny_path(@offer, ground_offer), :class => 'btn btn-danger btn-small' do
							%i.icon-remove.icon-white
							= 'Отказать'