%p= "Здравствуйте!"
%p= "Кто-то (возможно Вы) попросил сбросить пароль для #{@resource.email}."
%p= link_to 'Смена пароля', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p= 'Если Вы не запрашивали изменения пароля, то просто проигнорируйте или удалите данное письмо.'
%p= 'Ваш пароль не изменится, пока вы не зайдёте по ссылке и не введёте новый.'
