%p= "Здравствуйте!"
%p= "Ваша учетная запись #{@resource.email} была заблокирована из-за большого числа неудачных попыток входа."
%p= 'Нажмите на ссылку ниже для разблокировки аккаунта:'
%p= link_to 'Разблокировать аккаунт', unlock_url(@resource, :unlock_token => @resource.unlock_token)
