- type = ''
- type = params[:type] if params[:type] && !params[:type].empty?
%ul.nav.nav-tabs
	- t = ''
	%li{:class => (type==t) ? 'active' : ''}
		%a{:href => "?type=#{t}"} Все
	- t = 'Advertiser'
	%li{:class => (type==t) ? 'active' : ''}
		%a{:href => "?type=#{t}"} Рекламодатели
	- t = 'Webmaster'
	%li{:class => (type==t) ? 'active' : ''}
		%a{:href => "?type=#{t}"} Вебмастера
	- t = 'Operator'
	%li{:class => (type==t) ? 'active' : ''}
		%a{:href => "?type=#{t}"} Операторы

%table.table.table-bordered.table-striped
	%thead
		%tr
			%th= 'E-mail'
			%th= 'Тип'
			%th= 'Его'
			%th= 'Действия'
	%tbody
		- @users.each do |user|
			%tr
				%td= user.email
				%td
					%span.label=t "model.#{user.class.to_s}"
				%td
					- case user.class
						- when Advertiser
							= link_to user_profile_path(user), :class => 'btn btn-small' do
								%i.icon-user
								= 'Профиль'
							= link_to user_payments_path(user), :class => 'btn btn-small' do
								%i.icon-briefcase
								= 'Платежи'
							= link_to user_offers_path(user), :class => 'btn btn-small' do
								%i.icon-inbox
								= 'Офферы'
						- when Webmaster
							= link_to user_profile_path(user), :class => 'btn btn-small' do
								%i.icon-user
								= 'Профиль'
							= link_to user_payments_path(user), :class => 'btn btn-small' do
								%i.icon-briefcase
								= 'Платежи'
							= link_to user_grounds_path(user), :class => 'btn btn-small' do
								%i.icon-road
								= 'Площадки'
				%td
					= link_to edit_user_path(user), :class => 'btn btn-small' do
						%i.icon-pencil
						= 'Редактировать'
					= link_to user_path(user), :class => 'btn btn-small btn-danger', :method => :delete, :data => { :confirm => 'Вы уверены?' } do
						%i.icon-trash.icon-white
						= 'Удалить'
= link_to new_user_path, :class => 'btn btn-primary' do
	%i.icon-plus-sign.icon-white
	= 'Добавить'