.row
	.span6
		- if @user.is_a? Webmaster
			Пользователь
			- if @user.blocked
				заблокирован
				= link_to user_block_path(@user, :unblock => true), :class => 'btn btn-small btn-success' do
					%i.icon-ok-circle.icon-white
					= 'Разблокировать'
			- else
				активен
				= link_to user_block_path(@user), :class => 'btn btn-small btn-danger' do
					%i.icon-ban-circle.icon-white
					= 'Заблокировать'
			%hr
		%b Его:
		%br
		%br
		- case @user.class
			- when Advertiser
				= link_to user_profile_path(@user), :class => 'btn btn-small' do
					%i.icon-user
					= 'Профиль'
				= link_to user_payments_path(@user), :class => 'btn btn-small' do
					%i.icon-briefcase
					= 'Платежи'
				= link_to user_offers_path(@user), :class => 'btn btn-small' do
					%i.icon-inbox
					= 'Офферы'
				= link_to user_achievements_path(@user), :class => 'btn btn-small' do
					%i.icon-gift
					= 'Достижения целей'
			- when Webmaster
				= link_to user_profile_path(@user), :class => 'btn btn-small' do
					%i.icon-user
					= 'Профиль'
				= link_to user_payments_path(@user), :class => 'btn btn-small' do
					%i.icon-briefcase
					= 'Платежи'
				= link_to user_grounds_path(@user), :class => 'btn btn-small' do
					%i.icon-road
					= 'Площадки'
				= link_to user_achievements_path(@user), :class => 'btn btn-small' do
					%i.icon-gift
					= 'Достижения целей'
		%hr
		%b Действия:
		%br
		%br
		= link_to edit_user_path(@user), :class => 'btn btn-small' do
			%i.icon-pencil
			= 'Редактировать'
		= link_to user_path(@user), :class => 'btn btn-small btn-danger', :method => :delete, :data => { :confirm => 'Вы уверены?' } do
			%i.icon-trash.icon-white
			= 'Удалить'
	.span3
		.well
			%b= @user.email
			%br
			%br
			%span.label=t "model.#{@user.class.to_s}"
			- if @user.is_a? Member
				%hr
				%h6 Баланс
				%br
				%b Доступно:
				= number_to_currency @user.balance
				%br
				%b Ожидается:
				= number_to_currency @user.hold_balance
				%br
				- if @user.class==Advertiser && @user.overdraft>0
					%b Допустимый кредит:
					= number_to_currency @user.overdraft
					%br
				%b Всего выплат:
				= number_to_currency @user.total_payments
				%br
				- if @user.is_a? Webmaster
					%hr
					%h6 Статистика рефералов
					%br
					%b Начислено:
					= number_to_currency @user.referal_total_payments
					%br
					%b Количество рефералов:
					= @user.referal_count