.span3
	.well.sidebar-nav
		%ul.nav.nav-list
			%li.nav-header= 'Кабинет'
			%li
				- case current_user.class
					- when Advertiser
						= link_to 'Рекламные кампании', offers_path
						= link_to 'Достижения', achievements_path
					- when Webmaster
						= link_to 'Рекламные площадки', grounds_path
						= link_to 'Достижения', achievements_path
					- when Operator
						= link_to 'Модерации', moderations_path
						= link_to 'Подозрителные действия', suspicions_path
				= link_to 'Поддержка', discussions_path
			= yield :sidebar_etc