.row
	.span6
		%table.table.table-striped.table-bordered.table-condensed
			%thead
				%tr
					%th= t("simple_form.options.filter.group_by.#{@group_by}")
					%th Клики
					%th Цели
					%th Доход
					%th Расход
					%th PPC
					%th CPC
			%tbody
				- @stats.each do |stat|
					- income = stat['income_count'].to_i
					- expenditure = stat['expenditure_count'].to_i
					- clicks = stat['clicks_count'].to_i
					- targets = stat['targets_count'].to_i
					%tr
						%td
							- case @group_by
								- when :date
									- if @date_total
										= 'Все'
									- else
										= stat['date'].strftime('%d/%m/%Y')
								- else
									- obj = @group_by.to_s.split('_').first.camelcase.constantize.find(stat[@group_by.to_s])
									- if [:advertiser_id, :webmaster_id].include? (@group_by)
										= link_to obj.title, user_path(obj)
									- elsif @group_by==:ground_id
										= link_to obj.title, user_ground_path(obj.webmaster, obj)
									- elsif @group_by==:offer_id
										= link_to obj.title, user_offer_path(obj.advertiser, obj)
									- else
										= obj.title
						%td= clicks
						%td= targets
						%td= number_to_currency(income/100)
						%td= number_to_currency(expenditure/100)
						%td= "%.5f" % (targets.to_f/clicks)
						%td= number_to_currency(income.to_f/100/clicks)
	.span3
		.well
			%b Фильтрация
			%br
			%br
			= simple_form_for :filter, :method => :get, :defaults => { :input_html => { :class => 'spanm' } } do |f|
				= f.input :date_total, :as => :select, :input_html => { :value => @date_total }, :selected => @date_total
				.date_not_total{:class =>  @date_total ? 'muted' : ''}
					= f.input :date_start, :input_html => { :value => @date_start, :class => 'date_picker spanm', :disabled => @date_total}
					= f.input :date_stop, :input_html => { :value => @date_stop, :class => 'date_picker spanm', :disabled => @date_total}
				= f.input :webmaster, :collection => Webmaster.all, :include_blank => true, :selected => @webmaster_id
				= f.input :advertiser, :collection => Advertiser.all, :include_blank => true, :selected => @advertiser_id
				= f.input :ground, :collection => Ground.all, :include_blank => true, :selected => @ground_id
				= f.input :offer, :collection => Offer.all, :include_blank => true, :selected => @offer_id
				= f.input :group_by, :collection => [:date, :webmaster_id, :advertiser_id, :offer_id, :ground_id], :selected => @group_by

				= f.submit 'Фильтровать', :class => 'btn'

:javascript
	$(document).ready(function() {
		$('#filter_date_total').change(function () {
			var is_total = ($(this).val()=='true');
			$('.date_not_total').toggleClass('muted', is_total);
			$('.date_not_total input').prop('disabled', is_total);
		});
	});